<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Musée de l'automobile de Velaine</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet"> 
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
  <link href="/css/clean-blog.css" rel="stylesheet">
  <link href="/css/toast.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">
        <img src="/img/logo.png" width="30" height="30" class="d-inline-block align-top mr-2" alt="">
        MUSÉE DE L'AUTOMOBILE DE LORRAINE</a>
      <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">A propos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/collection">Notre collection</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/access">Accéder au musée</a>
          </li>
        </ul>
      </div> -->
      <div class="text-right">
            <ul class="list-inline text-center mb-0">
              <li class="list-inline-item">
                <a href="#" class="btn-social">
                  <span class="fa-stack fa-md align-middle">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="btn-social">
                  <span class="fa-stack fa-md align-middle">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-tripadvisor fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
      </div>
    </div>
  </nav>

  {% block header %}{% endblock %}

  <!-- Main Content -->
  <div class="container-fluid px-0" id="main">
    <div class="row">       
          {% block body %}{% endblock %}
    </div>
   </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-6 mx-auto">
          <p class="copyright mt-0 text-uppercase">&copy; Musée de l'automobile de lorraine 2019</p>
        </div>
        <div class="col-6 mx-auto">
          <p class="copyright mt-0 text-uppercase">
            <a href="/credits">
              Crédits
            </a>
            -
            <a href="/legal">
              Mentions légales
            </a>
            -
            <a href="/siteplan">
              Plan du site
            </a>
          </p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/8ed9771817.js"></script>
  <!-- Custom scripts for this template -->
  <script src="/js/clean-blog.js"></script>
  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
  <script src="/js/toast.js"></script>
  <script src="/js/script.js"></script>

</body>

</html>