{% extends 'layout.html' %}

{% block body %}
<div class="container">
    <div class="row">
            <h1>Mentions légales</h1>
        </div>
        <div class="row">
            <dl>
                <dd> <span class="font-weight-bold">Association de la loi de 1901 créée en 2002 Département (Région) :</span> Loire-Atlantique (Pays-de-la-Loire)</dd>
                <dd> <span class="font-weight-bold"> Lieu de parution :</span> Déclaration à la préfecture de la Loire-Atlantique (26 juillet 2002)</dd>
                <dd> <span class="font-weight-bold"> No de parution :</span> 20020036</dd>
                <dd> <span class="font-weight-bold"> Type d’annonce :</span> ASSOCIATION/CREATION</dd>
                <dd> <span class="font-weight-bold"> No d’annonce :</span> 1755</dd>
                <dd> <span class="font-weight-bold"> Parue le :</span> 07/09/2002 au journal officiel</dd>
                <dd> <span class="font-weight-bold"> Objet :</span>
                Aider à la sauvegarde du patrimoine par l’accueil touristique de toute personne dans les demeures et châteaux privés de la France de l’ouest, répondant à des normes de qualité fixées par l’association.
                L’éditeur s’engage à respecter l’ensemble des lois concernant la mise en place et l’activité d’un site Internet.
                Pour toute correspondance, veuillez adresser votre courrier à Bienvenue au Château – Château de la Flocelière, 85700 la Flocellière.
                Bienvenue au Château est une marque déposée auprès de l’INPI. L’utilisation de cette marque déposée (nom et logo) sans notre autorisation écrite est strictement interdite.
                Le site www.bienvenueauchateau.com est un site de présentation et de promotion des services proposés par l’Association et ses adhérents. La présentation des produits, au travers des textes et visuels, reste indicative et ne peut engager la responsabilité de l’Association.
                Bienvenue au Château respecte le droit d’auteur. Tous les droits des auteurs des œuvres protégées, reproduites et communiquées sur ce site sont réservés. Sauf autorisation expresse, toute utilisation des œuvres autre que dans le cadre du cercle familial est strictement interdite. Toute reproduction ou représentation de tout élément constitutif de ce site est interdite et constitue sans autorisation de l’éditeur une contrefaçon.
                </dd>
                <dd> <span class="font-weight-bold">Protection des Données Personnelles :</span>
                L’Association « Bienvenue au Château » veille à la protection des Données Personnelles des utilisateurs conformément aux dispositions de la Loi n° 78-17 Informatique et Libertés du 6 janvier 1978.
                Par l’intermédiaire du site Internet www.bienvenueauchateau.com, l’Association peut être amenée à collecter des données personnelles de toute personne adressant une question à l’association (Nom, prénom, numéro de téléphone, email).
                La collecte et le traitement de données personnelles transmises par l’Utilisateur à l’association Bienvenue au Château sont soumises aux dispositions de la Loi n ° 78-17 Informatique et Libertés du 6 janvier 1978 (modifiée). L’utilisateur dispose d’un droit d’accès, de rectification et de suppression des informations personnelles le concernant à tout moment en adressant un courrier à l’Adresse suivante: Bienvenue au Château – Hébergée au 9 rue Louis Kerautret Botmel – Immeuble Athéa – 35000 RENNES – France ou par Email à : secretariat@bienvenueauchateau.com ou au 02 99 83 26 26
                L’Association Bienvenue au Château s’engage à prendre les mesures nécessaires pour garantir la confidentialité des données et éviter leur divulgation à des tiers non autorisés. Dans l’hypothèse d’un transfert de données à des tiers autorisés, l’Association prend les mesures appropriées pour garantir la sécurité du partage du transfert. Aucune donnée personnelle n’est collectée à votre insu.
                Objectif de la collecte des données : les informations collectées sont indispensables pour répondre aux demandes des utilisateurs et ont pour objectifs :
                - la gestion de vos demandes d’informations, de vos demandes de guide et de vos réservations ;
                - la gestion de vos demandes de droit d’accès, d’interrogation, de rectification et d’opposition pour motifs légitimes et d’opposition à la prospection commerciale.
                Les informations obligatoires (Civilité, Nom, prénom, e-mail de l’Utilisateur, téléphone, Pays) sont mentionnées par un astérisque sur les formulaires de collecte. Si les champs comportant des informations renseignés par un astérisque ne sont pas renseignés, l’Association ne pourra traiter les demandes des utilisateurs.

                La création de liens hypertextes vers le site www.bienvenueauchateau.com doit faire l’objet d’une demande préalable au Directeur de la Publication. Les liens hypertextes en direction d’autres sites à partir de ce site ne sauraient, en aucun cas, engager la responsabilité de l’Association Bienvenue au Château.
                </dd>
            </dl>
        </div>
    <div class="row">
        <h1>Crédits</h1>
    </div>
    <div class="row">
        <dl>
            <dt class="mb-0">Photos & infographie :</dt>
            <dd>Claudie Lesoudard</dd>
            <dd>claudie.lesoudard@gmail.com</dd>
            <dd><a href="https://claudie-lesoudard.fr/" target="_blank">Portfolio</a></dd>

            <br>

            <dt class="mb-0">Developpement web:</dt>
            <dd>Adrien Toussaint</dd>
            <dd>adrien-toussaint@hotmail.fr</dd>
            <dd><a href="https://adrien-toussaint.fr/" target="_blank">Portfolio</a></dd>
            <br>
        </dl>
    </div>
</div>
{% endblock %}